body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1 {
    padding-top: 350px;
    color: #FFF;
    font-size: 40px;
}

h2 {
    color: #000;
    font-size: 40px;
}

nav {
    background-color: #B5CDD0;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* circle logo */
nav img {
    height: 40px;
    border: 2px;
    border-radius: 25px;
}

.left-side {
    display: flex;
    align-items: center;
}

.peregrine-link {
    margin-left: 10px;
    color: rgb(0, 0, 0); 
    text-align: center; 
    text-decoration: none; 
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 50px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 30vh;
    margin-bottom: 0px;
    background-color: #355457;
}

.welcome img {
    max-width: 30%;
    max-height: 30%;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    position: absolute;
    margin-bottom: 0;
}

.welcome .text-container {
    color: #ffffff;
    margin: 50px;
    text-align: center;
    top: 10%;
    font-size: 60px;

}

.welcome .text-container h1 {
    padding-top: 36%;
    margin: 20px;
    font-size: 40px;
    font-weight: 2000;
}

.welcome .text-container p {
    padding: 0%;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 120% */
}

.btn {
    display: inline-block;
    text-decoration: none;
    margin: 0%;
    border-radius: 6px;
    background-color: #f9f8f7;
    color: #909090;
    border-color: #ADB8BB;
    padding: 10px 100px;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
}

.btn:hover {
    color: #ADB8BB;
}


.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.whyPeregrine {
    padding-left: 20%;
    padding-right: 20%;
    border-bottom: 1px solid #ccc;
}

#why {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.Experienced {
    background-color: #B5CDD0;
    border-radius: 6px;
    margin: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.personal {
    background-color: #B5CDD0;
    border-radius: 6px;
}

.find_tutor {
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #dedede;
}

.find_tutor .right-content {
    margin-left: 30%;
    flex: 2;
    display: flex;
    justify-content: space-between;
}

.find_tutor .right-content>* {
    margin-right: 30px;
}

/* .tutor img {

    border-radius: 20px;
    margin-bottom: 10px;
} */

.tutor {
    width: 120px;
}

.tutor img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin-bottom: 10px;
} 

#benefits-for-students,
#benefits-for-tutors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    border-bottom: 1px solid #dedede;
}

.center-content {
    text-align: center;
    width: 80%;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}