h3 {
    text-align: center;
    color: #000000;
    padding: 10px;
}

.search-container {
    margin: 20px auto;
    width: 400px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    padding: 12px;
    margin-bottom: 10px;
    width: calc(100% - 24px);
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}

button {
    padding: 12px 20px;
    margin-top: 10px;
    background-color: #35565a;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #35565a;
}

input[type="text"]:focus {
    outline: none;
    border-color: #B5CDD0;
    box-shadow: 0 0 8px #B5CDD0;
}

.result-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.result-item p {
    margin: 5px 0;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Style for the search results table */
#searchResults {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

#searchResults th, #searchResults td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#searchResults th {
    background-color: #f2f2f2;
}

/* Table style */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
    text-align: center;
}

/* Button style */
.edit-btn, .save-btn {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn:hover, .save-btn:hover {
    background-color: #0056b3;
}